<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Twitto SignUp page</title>
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/homepage.css" rel="stylesheet">
  </head>
  <body>
  <div class="space">
        <div class="blog-masthead">
            <div class="container">
                  <nav class="blog-nav">
                      <a class="blog-nav-item" href="/login">Login</a>
                  </nav>
            </div>
        </div>

        <div id="cover"></div>  

        <div class="blog-header">
            <center><img src="css/Images/twitto-logo.jpg" alt="Twitto-logo" width="70" height="70"></center>
            <h1 class="blog-title" align="center" id="AdminHeadder">Twitto</h1>
            <p class="lead blog-description" align="center" id="adminsubheadder"></p>
        </div>

        <div class="main-container" align="center"></div>
            <form class="form-signin" method="post" action="/signup">
                  <h4 class="form-signin-heading" id="info-error" align="center">Please sign up</h4>
                  <input type="text" name="username" class="form-control" placeholder="Username" id="Username" required="" autofocus="">
                  <input type="password" name="password" class="form-control" placeholder="Password" id="Password" required="">
                  <input type="password" name="Confpassword" class="form-control" placeholder="Confirm Password" id="confPassword" required="">
                  <input type="email" id="Email" class="form-control" placeholder="email" name="email" required="">
                  <input class="btn btn-lg btn-primary btn-block" type="button" id="loginButton#Changed" onclick="signup();" value="Sign Up"><br>
            </form>
       </div><br> 

       <footer class="blog-footer">
            <p>Page built by on 7th April 2015<br>
            
              <a href="#">Back to top</a>
            </p>
       </footer>
      
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/signup.js"></script>
    <!-- Parse.js -->
    <script src="//www.parsecdn.com/js/parse-1.3.5.min.js"></script>
    <!-- Handlebars.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
    <script type="text/javascript">
        $(window).load(function(){
          $('#cover').fadeOut(1200);
        })
    </script>

  </body>
</html>
