#searchSpan
{
	float: center; 
	padding: 4px; 
	padding-left: 385px;
}

#logout
{
	padding-right: 85px; 
	margin-right: 0px;
}

#profileHead
{
	padding-left:16px;
}

.profileFriends
{
	width:90%; display:block; 
	background-color: rgb(236, 240, 237);
}

#selectedUserCtreatedAt
{
	color:#666699;
}

#profileSidebarDiv
{
	margin-left: -55px; 
	width: 32%;
}

#profileMainContainer
{
	display: inline-block; 
	padding-left: 175px; 
	width: 87%;
}

#PMHeadStyle
{
	font-family: verdana; 
	text-align: left;
}

#PostedTweets
{
	color: #0066CC;
}

#YourTweetsHead
{
	font-family:verdana; 
	text-align: left;
}

.profileMsg-TweetDisplay
{
	display:block; 
	width:94%; 
	background-color: rgb(236, 240, 237); 
}
